html
  head
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')
    title ASDR - Air Situation Display Room - Pluto network
  body
    div.container
      h1.display-3.text-center.my-5.font-weight-bolder Welcome to Pluto ASDR✈️

      h2.font-weight-bold Target Words
      
      ul.list-group
        each word in targetWords
          li.list-group-item.d-flex.justify-content-between.align-items-center
            = word.word
            
            - var handler = `handleClickBadge("${word._id}")`
              if word.monitoring
                a.badge.badge-primary.badge-pill(onclick=handler, href="#") ON
              else
                a.badge.badge-danger.badge-pill(onClick=handler, href="#") OFF
                  
      div.mt-4
        form(action="/words/new", method="POST")
          div.form-row.align-items-center
            div.col-auto
              label.sr-only(for='inlineFormInput') New Word 
              input#inlineFormInput.form-control.mb-2(type='text' name="word" placeholder='new word to WATCH')
            div.col-auto
              button.btn.btn-primary.mb-2(type='submit') Submit

      hr.my-4

      div.row
        div.col
          h2.font-weight-bold Recent Tweets
          ul.list-group
            each tweet in recentTweets
              a.list-group-item.d-flex.justify-content-between.align-items-center(href=tweet.destURL, target="_blank")
                div
                  div= (tweet.userName ? tweet.userName : "Unknown")
                  div= tweet.originCreatedAt
                  div= tweet.content

        div.col to be updated
    script(src='/javascripts/index.js')